<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>UI GRID - Componente de Grid para Angular JS</h2>
				<p>Exemplo completo de Ui-Grid utilizando Paginacao Externa + CRUD + BackEnd</p>
				<hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-arrow-down"></i> Vídeo 1</h3>
                <br>
          				<ul>
          					<li><a href="#/grid">Grid + CRUD</a>
          					</li>
          				</ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Assista outros vídeos</h4>
            <p>Acesse sersa.me ou ao canal no Youtube!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://sersa.me">Vê outros vídeos!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
